# Entornos virtuales
.venv/
venv/

# Caché de Python
__pycache__/
*.pyc

# Pruebas (Pytest)
.pytest_cache/
.coverage

# Variables de entorno y secretos (FastAPI)
.env

# Reportes de rendimiento (Locust)
locust_report*.html
*.log
